body {
  background: url("back.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: rgb(255 255 255 / 49%);
}

p {
  font-size: 25px;
}

.outer {
  text-align: center;
  display: flex;
  flex-direction: column;
}

label {
  font: bold;
  font-size: 25px;
}

input {
  border-radius: 15px;
  border: 1px solid black;
  padding: 0.8rem;
  margin: 10px 15px 15px 0rem;
  width: 15%;
}

button {
  border-radius: 15px;
  padding: 15px 0px 15px 0px;
  margin: auto;
  width: 10%;
}

table {
  table-layout: fixed;
  width: 90%;
  margin: 1rem;
}

table,
td,
th {
  border: 1px solid;
  border-collapse: collapse;
  word-break: break-word;
}

td,
th {
  padding: 0.5rem;
  text-align: center;
}

.tab {
  text-align: center;
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 14px;
  background-color: rgb(255 255 255 / 49%);
  border-radius: 50px;
}
